* {
   box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

p {
   margin: 0;
}

body {
   background: #000000;
}

.input_container {
   display: flex;
   /* justify-content: space-between; */
}

.card {
   margin: 20px auto;
}

.card-header {
   text-align: center;
}

.card-text {
   text-align: center;
}

.first_amount {
   margin-top: 10px;
}

.second_amount {
   margin-top: 10px;
}

.arrow_change {
   padding: 0 10px;
   margin-top: 25px;

   width: 45px;
   height: 45px;

   filter: invert(88%) sepia(87%) saturate(1%) hue-rotate(117deg)
      brightness(109%) contrast(101%);

   cursor: pointer;
}
